body {
    margin: 0;
}

.container-topo {
    background-color: #e0c9ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    margin: auto;
    color: #300a69;
    padding: 0 80px 0 80px;
}

.lado-esquerdo {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.lado-direito {
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    color: #300a69;
    gap: 10px;
}

li {
    display: inline;
    margin: auto;
}

.navegador {
    color: #300a69;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.icones {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin: auto;
    padding: 10px 80px;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #300a69;
    font-family: 'Times New Roman', Times, serif;
    margin:20px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #300a69;
    font-family: 'Times New Roman', Times, serif;
}

.secao {
    display: flex;
    justify-content: left;
    color: #300a69;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 80px;
}

hr {
    width: 90%;
}

.display {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 5% 5% 5%;
    border-radius: 10%;
    flex-wrap: wrap;
    gap:30px;
}

.card {
    text-align: center;
    border: 9px solid #e0c9ef;
    border-radius: 7%;
    z-index: 30;
    gap: 20px;
}

.card>img {
    border-radius: 5%;
}

.card:hover {
    transform: rotate(1deg);
    transition: all 700ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

a {
    text-decoration: none;
}

.button {
    font-size: 11px;
    font-family: Arial;
    width: 70px;
    height: 29px;
    border-width: 2px;
    color: #fff;
    border-color: #c584f3;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #efdcfb;
    text-shadow: inset 0px 1px 0px #9752cc;
    background: linear-gradient(rgba(224, 201, 239, 1), rgba(188, 128, 234, 1));
    margin-bottom: 10px;
}

.button:hover {
    background: linear-gradient(rgba(188, 128, 234, 1), rgba(224, 201, 239, 1));
}

.foto-perfil {
    text-align: center;
}

.foto-perfil img {
    border:5px solid #efdcfb;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

.sobre {
    display: flex;
    justify-content: left;
    color: #5ece45;
    font-family: 'Times New Roman', Times, serif;
}

.texto-descricao{
    text-align: center;
    color: #300a69;
    margin:10px 240px 60px 240px;
}

.newsletter form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap:20px;
    /* margin: 20px; */
     margin-top:50px;
     border: 2px solid #300a69;
     padding-top: 3rem;
    border-radius: 10px;
}

.newsletter form input[type="text"]{
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.newsletter form input[type="text"]:focus{
 border: 8px solid #efdcfb;
}

.newsletter form input[type="submit"]{
    margin: auto;
    font-size: 20px;
    font-family: Arial;
    width: 190px;
    height: 39px;
    border-width: 2px;
    color: #fff;
    border-color: #c584f3;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #efdcfb;
    text-shadow: inset 0px 1px 0px #9752cc;
    background: linear-gradient(rgba(224, 201, 239, 1), rgba(188, 128, 234, 1));
    margin-bottom: 10px;
}

.newsletter form input[type="checkbox"]{
margin-left: 40px;
margin-bottom: 20px;
}

.newsletter form input[type="submit"]:hover{
    background: linear-gradient(rgba(188, 128, 234, 1), rgba(224, 201, 239, 1));
}

html {
    scroll-behavior: smooth;
}

.font-size{
    font-size: 12px;
}

.container-rodape {
    background-color: #e0c9ef;
    width: 100%;
    height: 9rem;
    margin-top:20px;
    color: #300a69;
    margin-top: 60px;
}

.rodape-texto{
        display: grid;
    justify-items: center;
    margin-top: 50px;
}

.margin-p{
    margin: 8px;
}
.icones-rodape {
    text-align: center;
}

@media (max-width: 800px) {
    
    .display {
        align-content: space-around;
        margin: 5% 5% 5% 5%;
        flex-direction: column;
        gap:20px
    }

    .lado-esquerdo {
        font-size: 14px;
    }

    .secao {
        display: flex;
        justify-content: center;
        color: #300a69;
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
    }

    .texto-descricao{
        text-align: center;
        margin:10px 120px 60px 120px;
    }
}

@media (max-width: 500px) {
    .container-topo {
        flex-direction: column;
        justify-content: center;
        min-height: 7rem;
        padding: 0;
        padding-bottom: 10px;
    }

    .display {
        display: flex;
        justify-content: space-evenly;
        margin: 5% 5% 5% 5%;
        flex-direction: column;
        gap:20px
    }

    .lado-esquerdo {
        /* display: flex; */
        justify-content: center;
       /*  align-items: center; */
        width: 100%;
        margin-left: 0;
        /* //font-family: 'Times New Roman', Times, serif; */
        font-size: 15px;
    }

    .lado-direito {
        display: flex;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        color: #300a69;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .secao {
        display: flex;
        justify-content: center;
    }

    .texto-descricao{
        text-align: center;
        margin:auto;
        margin-bottom: 20px;
        padding: 0 20px ;
    }

    .subtitulo{
        margin:10px 60px 50px 60px;
    }
    .newsletter form{
    width: 88%;
    margin: 20px;
    }

    .icones{
        padding-right: 20px;
    }

}